html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}

/* reset */




      /* GLOBAL STYLES*/


      html{
        box-shadow: 0 0 0 30px #000 inset;
        padding: 0 30px;
      }

     body{
       display: flex;
       flex-direction: column;
       min-height: 100vh;
      font-family:helvetica, arial, sans;
     }
html,body
{
    width: 100%;
    
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
      .content-container{
        flex: 1 1 auto;
        display: flex;
        padding-top: 8vh;
        padding-bottom: 10vh;
        width: 100%;
      
      }

      
      h1 {
        font-size: 7vw;
        margin-top: 0;
      }

      a {
        color: #ff0000;
      }
      h2{
        font-size: 30px;
      }
      
      p{
        line-height:1.5;
      }

      h2 + p{
      	font-size: 0.8em;
      	font-style: italic;
      	margin: 1em auto 0 auto;
      	max-width: 70%;
      	text-align: center;
      }
      
      h4{
        color: #999;
        font-weight: bold;
        text-transform: uppercase;
      }

     /* HEADER styles */
      .header{
      	background-color: #000;
      	color: #fff;
      	position: fixed;
      	z-index: 20;
      	width: 100%;
      
      }

      .header-nav{
          float: right;
          padding: 5.5vh 60px 0 0;
      }
      
      .header-nav a{
          color: #FFF;
          font-size: 0.8rem;
          font-weight: bold;
          text-decoration: none;
          text-transform: uppercase;
      }
      .header-nav > li:first-child a{
      	color: #22A7F0;
      }
      .header-nav > li:first-child a:hover{
      	color: #FFF;
      }
      .header-nav > li ~ li{
      	border-left: 1px solid rgba(255,255,255,0.3);
      	padding-left: 1em;
      }
      .header-nav a:hover,
      .header-nav a:active {
      	color: #22A7F0;
      }
      
      .header-logo{
      	background-color: #000;
      	display: block;
      	height: 8vh;
      	position: relative;
      	width: 8vh;
      	left: -6px;
      	text-align:center;
      	padding:10px
      	box-sizing: border-box;
      }
      .header-logo img{
        height:80%;
        width: auto;
        /* MIGHT BE AN ISSUE , WIDTH MIGHT NEED TO CHANGE TO 4.3VH */
      }
      .header-logo:hover,
      .header-logo:active{
      	opacity: 0.5;
      }
      
      .header-nav > li{
          display: inline-block;
          margin-left: 1em;
          
      }
      
      /* DROPDOWN STYLE */
      .dropdown{
        positon: relative;
        }
      
      .drop-trigger{
        display: inline-block;
        padding-right: 1.5em;
        position: relative;
      }
      
      /* fake arrow that is useful */
      
      .drop-trigger:after {
        border: 0.3em solid;
        border-color: #fff transparent transparent;
        content: "";
        height: 0;
        position: absolute;
        right: 0;
        top: 0.3em;
        width: 0;
      }
      
      .drop-menu{
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        display: none;
        list-style: none;
        padding: 1em 0 0;
        position: absolute;
        right: 185;
        z-index: 9;
      }
      .drop-menu:before{
        border:0.6em solid;
        border-color: transparent transparent #fff;
        content: "";
        height: 0;
        position: absolute;
        right: 1em;
        top: -0.1em;
        width:0;
        
      }
      .drop-menu li{
        background-color: #fff;
      
      }
      .drop-menu li ~ li{
        border-top: 1px dotted rgba(0,0,0,0.1);
      }
      .dropdown:hover .drop-menu{
        display: unset;
      }
      
      .dropdown:hover .drop-trigger:after{
        border-color: #22A7F0 transparent transparent;
        
      }
      
      .drop-menu li:first-child{
        border-radius: 5px 5px 0 0;
        color: #999;
        font-size: 0.5em;
        padding: 1em 1em 0.25em;
        text-align: right;
        text-transform: uppercase;
      }
      .drop-menu li:last-child{
        border-radius:0 0 5px 5px;
      }
      .drop-menu a{
        color: #333;
        display: block;
        font-weight: normal;
        padding: 0.5em 2em 0.5em 1em;
        text-align: left;
        text-transform: none;
        white-space: nowrap;
      }
      .drop-menu a:hover{
        background-color: rgba(0,0,0,0.1);
      }
           
     /* COLYMN STYLES */
     
     .col-three{
       display: flex;
       flex: 1;
     }
     
     .col{
       box-sizing: border-box;
       padding: 2em;
     }
     .col-three .col ~ .col{
       border-left: 1px solid rgba(0, 0, 0, 0.4);
     }
     
     .col-three .col-nav{
       flex: 0 1 15em;
     }
     .col-three .col-content{
       flex: 1;
     }
     
     .col-three .col-aside{
       flex:0 1 20em;
     }
     .col-two {
       display: flex;
     }
     .col-two .col-aside{
       flex: 0 0 20em;
       order: 1;
     }
     
     .col-two .col-content{
       flex: 1;
     }
     
     
     
     /* PAGE STYLES */
     
     .page{
       width: 85vw;
       max-width: 980px;
       margin: 10vh auto 15vh;
     }
     
     .page h1{
       font-size: 3em;
       margin-bottom: 1em;
       text-align: center;
     }
     
     .page h2{
       margin-bottom: 0.5em;
       }
       
       .page h4{
         margin-bottom: 1em;
       }
       
       
       
       
     
      /* Hero STYLES*/
      .full-hero{
        background-color: #c7dbfc;
        background-size: cover;
        box-sizing: border-box;
        height: 75vh;
        padding-top: 11vh;

      }
      .hero-home{
        background-image: url(/images/banner.jpg);
        background-position: center top;
        
      }
      .half-hero{
        background-position: center center;
        background-size: cover;
        height: 40vh;
      }

      /* SOCIAL STYLES */
    .social-link {
        color: #FFF;
        background: rgba(0,0,0, 0.5);
        display: inline-block;
        font-family: helvetica, arial, sans;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        border-radius: 99px;
        box-sizing: border-box;
        height: 2.5em;
        line-height:1;
        padding-top: 0.85em;
        vertical-align: middle;
        width: 2.5em;
          }

   	.social-link:hover,
    .social-link:active {
      	background: #3462f7;
      }  
    .social-list{
      list-style: none;
      padding: 0;
      text-align: center;
    }

    .social-list > li {
      display: inline-block;
      margin: 0 0.8em;
    }
      /* HOME PAGE STYLES*/
      .home-section{
        margin: 2rem auto;
        max-width: 1400px;
        width: 95vw;
      }
      .home-section h2{
        margin-botton: 1.5rem;
        text-align: center;
      }
      
      .home-callout{
        background-color: black;
        display: flex;
        align-items: flex-start;
        color: white;
        text-align:center;
        padding: 7vh 0;
      }
      
      .callout-title{
        flex:1 1 0;
        font-size: 3vw;
        text-align:flex-start;
        
        
      }
      .callout-copy{
        flex: 0 0 65em;
        padding:0 2vw;
        
      }
      
      
      /* BIO STYLES */
    .bio-wrapper{
      font-size: 24px;
      margin: auto;
      max-width: 960px;
      overflow: hidden;
    }

    .bio-box .social-link{
        display: block;
        margin: 2em auto 1em;
    }
    
    .bio-box{
        box-sizing: border-box;
        float: left;
        font-size: 1rem;
        margin: 2rem 5 0;
        padding: 0 3%;
        width: 23%;
        }
        
    .bio-box h3{
      color: black;
      font-size: 1.5em;
      margin: 0px 0 1em;
      text-align: center;
        }
    .bio-box img{
      width: 100%;
      display: inline-block;
      text-align: center;
      border-radius: 99px;
    }
    .bio-copy{
          font-size: 0.75em;
          
          
        }
    .bio-copy a{
          color: blue;
        }

/* GALLERY STYLES */

.gallery-thumbs{
  height: 90vh;
  overflow: scroll;
}

.gallery-thumbs > div{
  cursor: pointer;
}

.gallery-thumbs img{
  box-sizing: border-box;
  box-shadow: 0 0 0 5px transparent;
  display: inline-block;
  margin: 0 0 10px;
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

.gallery-thumbs img:hover{
  opacity: 1;
}

.gallery-thumbs .current img{
  box-shadow: 0 0 0 5px #ed6e2f;
  opacity: 1;
}

.gallery-photo{
  position: relative;
}
.gallery-photo img{
  width: 100%;
}

.gallery-info{
  font-size: 0.8rem;
}

.gallery-info h3{
  margin-bottom: 1em;
}


/* blog styles */

.blog-recent{
  text-align: right;
}

.blog-title-lost{
  list-style: none;
  padding: 0;
}
.blog-title-list li ~ li{
  margin-top: 1.5em;
}

.blog-title-list span{
  display: block;
  color: #999;
  font-size: 0.8em;
  font-style: italic
  margin-top: 0.5em;
}

.blog-posts ~ .blog-posts {
  border-top: 1px dotted rgba(0,0,0,0.5);
  margin-top: 4em;
  padding-top: 4em;
}

.blog-posts  .post-header{
  font-size: 0.8rem;
}

.post-header{
  margin-bottom: 1.5em;
}

.post-header img,
.post-header .scoial-link{
  margin-right: 0.5em;
}

.post-header img{
  border-radius: 99px;
  display: inline-block;
  height: 2.5em;
  vertical-align: middle;
  
}

.posts-image{
  background-position: center;
  background-size: cover;
  height: 6em;
  margin: 1.5em;
}

.blog-title-list img {
  border-radius: 99px;
  display: inline-block;
  height: 2em;
  vertical-align: middle;
}

.post {
  width: 100%;
  
}

.post-content,
.post-footer{
  margin: auto;
  max-width: 40em;
  width: 85vw;
}

.pull-left{
  float: left;
  margin: 2em 2em 2em -2%;
}

.pull-right{
  float: right;
  margin: 2em -2% 2em 2em;
}
.post-aside{
  background-color: rgba(0, 0, 0, 0.01);
  float: right;
  margin: 0 0 2em 2em;
  padding: 2em;
}

.post .post-header{
  margin-bottom: 2.5em;
  text-align: center;
}

.post-content{
  font-size: 1.1rem;
}
.post-footer{
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 0.8em;
  margin-top: 3em;
  padding-top:2em;
}



@media screen and (max-width:800px) {
  html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    box-shadow: none;
}


.hero-home{
  background-image: url(/images/banner.jpg);
  max-width:100%;
  height: 33vh;
  padding-bottom: 53vw;
}
  /* HEADER STYLES */
  .header-nav{
    padding: 3vh 1em 0 0;
  }
  .header-nav > li{
    margin-left: 0.25em;
  }
  .header-nav > li ~ li{
    padding-left: 0.15em;
  }
  .header-nav {
    font-size: 3.25vw;
  }
  .header-logo{
    left: auto;
  }
  
  .header-nav a,
  .drop-trigger{
    color: #fff;
  }
  
  /*Home STYLES*/
  
  .callout-title{
    font-size: 10vw;
    text-align: center;
    padding-bottom: 2vh;
  }
  .home-callout{
    flex-direction: column;
  }
  
  .callout-copy{
    flex: 1;
    line-height:1.5;
   
  }
  .home-section{
    
  }
  /*bio styles*/
  .bio-box{
    float: none;
    width: auto;
    font-size: 1.3rem;
    text-align: center;
  }
  .bio-box img{
    width: 50%;
     
  }
  
  /*Episode styles*/
  .gallery{
    flex-direction: column;
  }
  .gallery .col{
    padding: 1em;
  }
  .gallery .gallery-thumbs{
    flex: 1;
    height: auto;
    white-space: nowrap;
    width: 100vw;
  }

  .gallery-thumbs > div{
    display: inline-block;
  }
  .gallery-thumbs img{
    height: 7vh;
    margin: 0 10px 0 0;
    width: auto;
  }
  .gallery .gallery-info{
    padding: 1em;
  }
  
  /* blog STYLES */
  .post-aside {
    display: none;
  }
  
  .blog-cols{
    flex-direction: column;
  }
  .blog-recent{
    flex: 1;
    text-align: center;
  }
}