<header class="header">
    <nav>
       <ul class="header-nav">
          <li><a href="/">Home</a></li> 
          <li><a href="/episodes/">Episodes</a></li>
          <li class="dropdown">
              <a class="drop-trigger" href="/blog/">Blog</a>
              <ul class="drop-menu">
                  <li>Recent Posts</li>
                  {% for post in site.posts limit:5 %}
                  <li><a href="{{ post.url }}"> {{ post.title }}</a></li>
                  {% endfor %}
          </ul>
          </li>
          <li><a href="{{ site.posts.first.url }}">Newest Episode</a></li>
       </ul>
        
    </nav>
    <a href="/index.html" class="header-logo">
        <img src="/images/Logo.png" alt="Logo">
    </a>
</header>